USE [football_management_system]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributeCategories]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeCategories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[attribute_id] [int] IDENTITY(1,1) NOT NULL,
	[attribute_name] [nvarchar](50) NOT NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coach]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coach](
	[coach_id] [int] NOT NULL,
	[first_name] [nvarchar](45) NULL,
	[last_name] [nvarchar](45) NULL,
	[specialization] [nvarchar](45) NULL,
	[team_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[coach_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[contract_id] [int] NOT NULL,
	[salary] [decimal](10, 2) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[player_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fixtures]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fixtures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Week] [int] NOT NULL,
	[HomeTeamId] [int] NOT NULL,
	[AwayTeamId] [int] NOT NULL,
	[HomeGoals] [int] NULL,
	[AwayGoals] [int] NULL,
	[Played] [bit] NOT NULL,
	[SeasonId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[football_match]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[football_match](
	[match_id] [int] NOT NULL,
	[match_date] [date] NULL,
	[stadium] [nvarchar](45) NULL,
	[home_goals] [int] NULL,
	[away_goals] [int] NULL,
	[tournament_id] [int] NOT NULL,
	[home_team_id] [int] NULL,
	[away_team_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player](
	[player_id] [int] NOT NULL,
	[first_name] [nvarchar](45) NULL,
	[last_name] [nvarchar](45) NULL,
	[birth_date] [date] NULL,
	[nationality] [nvarchar](45) NULL,
	[team_id] [int] NOT NULL,
	[overall_rating] [int] NULL,
	[potential] [int] NULL,
	[preferred_position] [nvarchar](10) NULL,
	[market_value] [decimal](18, 2) NULL,
	[wage] [decimal](18, 2) NULL,
	[attack] [int] NOT NULL,
	[defense] [int] NOT NULL,
	[passing] [int] NOT NULL,
	[pace] [int] NOT NULL,
	[shooting] [int] NOT NULL,
	[dribbling] [int] NOT NULL,
	[stamina] [int] NOT NULL,
	[goalkeeping] [int] NOT NULL,
	[IsListedForTransfer] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerAttributes]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerAttributes](
	[player_id] [int] NOT NULL,
	[attribute_id] [int] NOT NULL,
	[attribute_value] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC,
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerPlayStyles]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerPlayStyles](
	[player_id] [int] NOT NULL,
	[playstyle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC,
	[playstyle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerPositions]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerPositions](
	[player_id] [int] NOT NULL,
	[position_id] [int] NOT NULL,
	[role_name] [nvarchar](50) NULL,
	[role_level] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC,
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerSpecialities]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerSpecialities](
	[player_id] [int] NOT NULL,
	[speciality_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[player_id] ASC,
	[speciality_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayStyles]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayStyles](
	[playstyle_id] [int] IDENTITY(1,1) NOT NULL,
	[playstyle_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[playstyle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[position_id] [int] IDENTITY(1,1) NOT NULL,
	[position_name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seasons]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentWeek] [int] NOT NULL,
	[IsGenerated] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialities]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialities](
	[speciality_id] [int] IDENTITY(1,1) NOT NULL,
	[speciality_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[speciality_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[team_id] [int] NOT NULL,
	[name] [nvarchar](45) NULL,
	[city] [nvarchar](45) NULL,
	[foundation_year] [nvarchar](45) NULL,
	[stadium] [nvarchar](45) NULL,
	[team_logo] [nvarchar](256) NULL,
	[default_formation] [varchar](10) NULL,
	[Budget] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team_has_tournament]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team_has_tournament](
	[team_id] [int] NOT NULL,
	[tournament_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[team_id] ASC,
	[tournament_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tournament]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournament](
	[tournament_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](45) NULL,
	[country] [nvarchar](45) NULL,
	[season] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[tournament_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.6.2026 г. 12:46:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[TeamId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AttributeCategories] ON 

INSERT [dbo].[AttributeCategories] ([category_id], [category_name]) VALUES (1, N'Attack')
INSERT [dbo].[AttributeCategories] ([category_id], [category_name]) VALUES (2, N'Skill')
INSERT [dbo].[AttributeCategories] ([category_id], [category_name]) VALUES (3, N'Power')
SET IDENTITY_INSERT [dbo].[AttributeCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Attributes] ON 

INSERT [dbo].[Attributes] ([attribute_id], [attribute_name], [category_id]) VALUES (1, N'Crossing', 1)
INSERT [dbo].[Attributes] ([attribute_id], [attribute_name], [category_id]) VALUES (2, N'Finishing', 1)
INSERT [dbo].[Attributes] ([attribute_id], [attribute_name], [category_id]) VALUES (3, N'Heading Accuracy', 1)
SET IDENTITY_INSERT [dbo].[Attributes] OFF
GO
INSERT [dbo].[coach] ([coach_id], [first_name], [last_name], [specialization], [team_id]) VALUES (1, N'Pep', N'Guardiola', N'Tactics', 3)
INSERT [dbo].[coach] ([coach_id], [first_name], [last_name], [specialization], [team_id]) VALUES (2, N'Carlo', N'Ancelotti', N'Experience', 2)
INSERT [dbo].[coach] ([coach_id], [first_name], [last_name], [specialization], [team_id]) VALUES (3, N'Jurgen', N'Klopp', N'High Press', 4)
GO
SET IDENTITY_INSERT [dbo].[Fixtures] ON 

INSERT [dbo].[Fixtures] ([Id], [Week], [HomeTeamId], [AwayTeamId], [HomeGoals], [AwayGoals], [Played], [SeasonId]) VALUES (381, 1, 1, 20, 1, 0, 1, 2)
INSERT [dbo].[Fixtures] ([Id], [Week], [HomeTeamId], [AwayTeamId], [HomeGoals], [AwayGoals], [Played], [SeasonId]) VALUES (382, 1, 2, 19, 2, 1, 1, 2)
INSERT [dbo].[Fixtures] ([Id], [Week], [HomeTeamId], [AwayTeamId], [HomeGoals], [AwayGoals], [Played], [SeasonId]) VALUES (383, 1, 3, 18, 2, 0, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Fixtures] OFF
GO
INSERT [dbo].[football_match] ([match_id], [match_date], [stadium], [home_goals], [away_goals], [tournament_id], [home_team_id], [away_team_id]) VALUES (1, CAST(N'2025-03-01' AS Date), N'Camp Nou', 2, 1, 1, 1, 2)
INSERT [dbo].[football_match] ([match_id], [match_date], [stadium], [home_goals], [away_goals], [tournament_id], [home_team_id], [away_team_id]) VALUES (2, CAST(N'2025-03-05' AS Date), N'Etihad', 3, 2, 1, 3, 1)
INSERT [dbo].[football_match] ([match_id], [match_date], [stadium], [home_goals], [away_goals], [tournament_id], [home_team_id], [away_team_id]) VALUES (3, CAST(N'2025-03-10' AS Date), N'Anfield', 1, 1, 2, 4, 9)
GO
INSERT [dbo].[player] ([player_id], [first_name], [last_name], [birth_date], [nationality], [team_id], [overall_rating], [potential], [preferred_position], [market_value], [wage], [attack], [defense], [passing], [pace], [shooting], [dribbling], [stamina], [goalkeeping], [IsListedForTransfer]) VALUES (1, N'Erling', N'Haaland', CAST(N'2000-07-21' AS Date), N'Norway', 1, 94, 95, N'ST', CAST(200000000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)), 97, 35, 72, 90, 96, 82, 88, 5, 0)
INSERT [dbo].[player] ([player_id], [first_name], [last_name], [birth_date], [nationality], [team_id], [overall_rating], [potential], [preferred_position], [market_value], [wage], [attack], [defense], [passing], [pace], [shooting], [dribbling], [stamina], [goalkeeping], [IsListedForTransfer]) VALUES (2, N'Kevin', N'De Bruyne', CAST(N'1991-06-28' AS Date), N'Belgium', 1, 91, 91, N'CM', CAST(85000000.00 AS Decimal(18, 2)), CAST(380000.00 AS Decimal(18, 2)), 90, 65, 98, 75, 88, 86, 88, 5, 0)
INSERT [dbo].[player] ([player_id], [first_name], [last_name], [birth_date], [nationality], [team_id], [overall_rating], [potential], [preferred_position], [market_value], [wage], [attack], [defense], [passing], [pace], [shooting], [dribbling], [stamina], [goalkeeping], [IsListedForTransfer]) VALUES (3, N'Phil', N'Foden', CAST(N'2000-05-28' AS Date), N'England', 1, 89, 93, N'CAM', CAST(140000000.00 AS Decimal(18, 2)), CAST(280000.00 AS Decimal(18, 2)), 86, 50, 88, 82, 84, 92, 85, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[Seasons] ON 

INSERT [dbo].[Seasons] ([Id], [CurrentWeek], [IsGenerated]) VALUES (2, 1, 0)
SET IDENTITY_INSERT [dbo].[Seasons] OFF
GO
INSERT [dbo].[team] ([team_id], [name], [city], [foundation_year], [stadium], [team_logo], [default_formation], [Budget]) VALUES (1, N'Manchester City', N'Manchester', N'1880', N'Etihad Stadium', N'/images/teams/manchester_city.png', N'4-3-3', CAST(245275000.00 AS Decimal(18, 2)))
INSERT [dbo].[team] ([team_id], [name], [city], [foundation_year], [stadium], [team_logo], [default_formation], [Budget]) VALUES (2, N'Real Madrid', N'Madrid', N'1902', N'Santiago Bernabeu', N'/images/teams/real_madrid.png', N'4-2-3-1', CAST(220375000.00 AS Decimal(18, 2)))
INSERT [dbo].[team] ([team_id], [name], [city], [foundation_year], [stadium], [team_logo], [default_formation], [Budget]) VALUES (3, N'Bayern Munich', N'Munich', N'1900', N'Allianz Arena', N'/images/teams/bayern_munich.png', N'4-2-3-1', CAST(180000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[team_has_tournament] ([team_id], [tournament_id]) VALUES (1, 1)
INSERT [dbo].[team_has_tournament] ([team_id], [tournament_id]) VALUES (1, 3)
INSERT [dbo].[team_has_tournament] ([team_id], [tournament_id]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[tournament] ON 

INSERT [dbo].[tournament] ([tournament_id], [name], [country], [season]) VALUES (1, N'Champions League', N'Europe', N'2025')
INSERT [dbo].[tournament] ([tournament_id], [name], [country], [season]) VALUES (2, N'Premier League', N'England', N'2025')
INSERT [dbo].[tournament] ([tournament_id], [name], [country], [season]) VALUES (3, N'La Liga', N'Spain', N'2025')
SET IDENTITY_INSERT [dbo].[tournament] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [CreatedAt], [TeamId]) VALUES (1, N'admin', N'123', N'Admin', CAST(N'2026-05-25T20:02:58.773' AS DateTime), 5)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [CreatedAt], [TeamId]) VALUES (2, N'coach', N'pass', N'Coach', CAST(N'2026-05-25T20:02:58.773' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E403FD0CD2]    Script Date: 10.6.2026 г. 12:46:02 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fixtures] ADD  DEFAULT ((0)) FOR [Played]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [attack]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [defense]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [passing]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [pace]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [shooting]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [dribbling]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [stamina]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((50)) FOR [goalkeeping]
GO
ALTER TABLE [dbo].[player] ADD  DEFAULT ((0)) FOR [IsListedForTransfer]
GO
ALTER TABLE [dbo].[Seasons] ADD  DEFAULT ((0)) FOR [IsGenerated]
GO
ALTER TABLE [dbo].[team] ADD  DEFAULT ((0)) FOR [Budget]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[AttributeCategories] ([category_id])
GO
ALTER TABLE [dbo].[coach]  WITH CHECK ADD  CONSTRAINT [fk_coach_team] FOREIGN KEY([team_id])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[coach] CHECK CONSTRAINT [fk_coach_team]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [fk_contract_player] FOREIGN KEY([player_id])
REFERENCES [dbo].[player] ([player_id])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [fk_contract_player]
GO
ALTER TABLE [dbo].[Fixtures]  WITH CHECK ADD  CONSTRAINT [FK_Fixtures_AwayTeam] FOREIGN KEY([AwayTeamId])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[Fixtures] CHECK CONSTRAINT [FK_Fixtures_AwayTeam]
GO
ALTER TABLE [dbo].[Fixtures]  WITH CHECK ADD  CONSTRAINT [FK_Fixtures_HomeTeam] FOREIGN KEY([HomeTeamId])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[Fixtures] CHECK CONSTRAINT [FK_Fixtures_HomeTeam]
GO
ALTER TABLE [dbo].[Fixtures]  WITH CHECK ADD  CONSTRAINT [FK_Fixtures_Season] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Seasons] ([Id])
GO
ALTER TABLE [dbo].[Fixtures] CHECK CONSTRAINT [FK_Fixtures_Season]
GO
ALTER TABLE [dbo].[football_match]  WITH CHECK ADD  CONSTRAINT [fk_match_away_team] FOREIGN KEY([away_team_id])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[football_match] CHECK CONSTRAINT [fk_match_away_team]
GO
ALTER TABLE [dbo].[football_match]  WITH CHECK ADD  CONSTRAINT [fk_match_home_team] FOREIGN KEY([home_team_id])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[football_match] CHECK CONSTRAINT [fk_match_home_team]
GO
ALTER TABLE [dbo].[football_match]  WITH CHECK ADD  CONSTRAINT [fk_match_tournament] FOREIGN KEY([tournament_id])
REFERENCES [dbo].[tournament] ([tournament_id])
GO
ALTER TABLE [dbo].[football_match] CHECK CONSTRAINT [fk_match_tournament]
GO
ALTER TABLE [dbo].[player]  WITH CHECK ADD  CONSTRAINT [fk_player_team] FOREIGN KEY([team_id])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[player] CHECK CONSTRAINT [fk_player_team]
GO
ALTER TABLE [dbo].[PlayerAttributes]  WITH CHECK ADD FOREIGN KEY([attribute_id])
REFERENCES [dbo].[Attributes] ([attribute_id])
GO
ALTER TABLE [dbo].[PlayerAttributes]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[player] ([player_id])
GO
ALTER TABLE [dbo].[PlayerPlayStyles]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[player] ([player_id])
GO
ALTER TABLE [dbo].[PlayerPlayStyles]  WITH CHECK ADD FOREIGN KEY([playstyle_id])
REFERENCES [dbo].[PlayStyles] ([playstyle_id])
GO
ALTER TABLE [dbo].[PlayerPositions]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[player] ([player_id])
GO
ALTER TABLE [dbo].[PlayerPositions]  WITH CHECK ADD FOREIGN KEY([position_id])
REFERENCES [dbo].[Positions] ([position_id])
GO
ALTER TABLE [dbo].[PlayerSpecialities]  WITH CHECK ADD FOREIGN KEY([player_id])
REFERENCES [dbo].[player] ([player_id])
GO
ALTER TABLE [dbo].[PlayerSpecialities]  WITH CHECK ADD FOREIGN KEY([speciality_id])
REFERENCES [dbo].[Specialities] ([speciality_id])
GO
ALTER TABLE [dbo].[team_has_tournament]  WITH CHECK ADD  CONSTRAINT [fk_team_tournament_team] FOREIGN KEY([team_id])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[team_has_tournament] CHECK CONSTRAINT [fk_team_tournament_team]
GO
ALTER TABLE [dbo].[team_has_tournament]  WITH CHECK ADD  CONSTRAINT [fk_team_tournament_tournament] FOREIGN KEY([tournament_id])
REFERENCES [dbo].[tournament] ([tournament_id])
GO
ALTER TABLE [dbo].[team_has_tournament] CHECK CONSTRAINT [fk_team_tournament_tournament]
GO
